# Database
DATABASE_URL=postgresql://neondb_owner:npg_fCz0l8DIAeNr@ep-wandering-king-amf4p8b6-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# GeoAsr API
VITE_GEOASR_TOKEN=
